* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
}

.topo {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
}

.imgTopo {
  margin-left: 10px;
}

.perfilUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}

.imgPerfil {
  margin: 10px;
}

.retanglos {
  position: relative;
  z-index: 2;
  display: flex;
}

.retanglo1 {
  width: 20%;
  height: 4px;
  background-color: #aa6f34;
}

.retanglo2 {
  width: 20%;
  height: 4px;
  background-color: #f48221;
}

.retanglo3 {
  width: 20%;
  height: 4px;
  background-color: #d2772e;
}

.retanglo4 {
  width: 20%;
  height: 4px;
  background-color: #faa61a;
}

.retanglo5 {
  width: 20%;
  height: 4px;
  background-color: #f9e423;
}

.menu {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #f9e423;
}

.menuInicio {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  gap: 5px;
  width: 100%;
  height: 50px;
  align-items: center;
  color: #AA6F34;
  border-left: 8px solid #f9e423;
}
.menuInicio:hover{
  border-left: 8px solid #F48221;
  background-color: #FAA61A;
  color: #ffffff;
}

.conteudoMenu {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menuInicioUsuario {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.aSair {
  text-decoration: none;
}

.containerMain {
  position: relative;
  flex-direction: column;
  margin-top: 18%;
  margin-left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo1 {
color:#AA6F34;
text-align: center;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

.titulo2 {
  color: #757575;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}

.faleConosco {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.divisaoUsuarios {
  flex-direction: column;
}

.menuUsuarios {
  box-sizing: border-box;
  width: 100%;
  
}

.menuImagens {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding: 30px;
  border-left: 8px solid #f9e423;
}

.menuImagens:hover {
  border-left: 8px solid #F48221;
  background-color: #FAA61A;
  color: #ffffff;
}

.imagemBotao {
  display: flex;
  align-items: center;
  gap: 5px;
}

.uluser {
  display: none;
  list-style-type: none;
  
}

.uluser li {
  background-color: #faa61a;
  padding: 30px;
  border-left: 8px solid #F48221;

}

.uluser li:hover{
  background-color: #F48221;
}

.uluser a {
  text-decoration: none;
  color: #ffffff;
}